<div class="portfolio text-white">
  <span class="portfolio-link"><a href="https://github.com/vvmk/SHFFLShineRepeat">
  SHFFL->Shine->Repeat
  </a></span><span>estimated launch 2018</span>
  <p>
  Super Smash Bros Melee is hard. In a game this technically demanding,
  staying sharp is crucial to staying competative, but the more 
  responsibilities I accrue, the less time I have to practice. Having
  scheduled, dedicated practice time is the solution to this, and the 20XX training
  mods are incredible for focusing on specific tequniques, but finding
  good guides that are consistently formated and cared for is difficult,
  and usually delivered as an online video. Even these rare good finds 
  require incessant stopping/starting/rewinding, which means putting 
  down your controller, which means a 30 minute routine can take an hour
  to actually complete. This is where SHFFL->Shine->Repeat comes in. SSR 
  provides a medium through which character specific training routines 
  can be created and shared by the smash community, which can then be 
  run, hands-free, on any device you want. A 30 minute routine should take 
  30 minutes.
  </p>
  <p>
  SSR is currently in development, but the service layer is done, and
  very nearly ready for deployment. I'm currently working on the web
  client's 'routine browser' which will hopefully be live soon. Stay Tuned!
  </p>
  <span class="portfolio-link"><a href="https://itunes.apple.com/app/hello-cruel-world/id396044348?mt=8">
  Hello Cruel World
  </a></span><span>2011</span>
  <p>
  This is an app based on the book Hello, Cruel World by Kate Bornstein. (Everything Copyright Kate Bornstein and Seven Stories Press.)
  </p>
</div>
