<div class="container cadc-container col-md-8 offset-md-2">
  <div class="row">
    <section id="header">
      <header>
        <h1 class="title"><a class="bow no-dec" routerLink="/">{{title}}</a></h1>
        <p class="t-green subtitle">{{subtitle}}<p>
      </header> 
      <nav id="nav" class="nav navbar nav-fill justify-content-center bg-light">
        <a class="t-pink nav-item nav-link" routerLink="/portfolio">code</a>
        <a class="t-red nav-item nav-link" routerLink="/about">about</a>
        <a class="t-orange nav-item nav-link" routerLink="/contact">contact</a>
      </nav>
    </section>
  </div>
  <div class="row">
    <section id="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <div class="row">
    <section id="footer">
    </section>
  </div>
</div>
