<div class="spooky-shadow container cadc-container col-md-8 offset-md-2 col-sm-10 offset-sm-1">
  <div class="row">
    <section id="header">
      <header>
        <h1 class="title"><a class="bow no-dec" routerLink="/">{{title}}</a></h1>
        <p class="text-white subtitle">{{subtitle}}<p>
      </header> 
      <nav id="nav" class="nav navbar nav-fill justify-content-center bg-dark">
        <a class="t-yellow bow-border nav-item nav-link" routerLink="/blog/new">blog</a>
        <a class="t-green bow-border nav-item nav-link" routerLink="/about">about</a>
        <a class="t-pink bow-border nav-item nav-link" routerLink="/contact">contact</a>
      </nav>
    </section>
  </div>
  <div class="row">
    <div class="content col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="row">
  <section id="footer">
  </section>
</div>
