<div class="container cadc-container col-md-8 offset-md-2">
  <div class="row">
    <section id="header">
      <header>
        <h1><a routerLink="/">{{title}}</a></h1>
        <p>{{subtitle}}<p>
      </header> 
      <nav id="nav" class="nav navbar nav-fill justify-content-center bg-dark">
        <a class="nav-item nav-link" routerLink="/portfolio">code</a>
        <a class="nav-item nav-link" routerLink="/resume">about</a>
        <a class="nav-item nav-link" routerLink="/contact">contact</a>
      </nav>
    </section>
  </div>
  <div class="row">
    <section id="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  <div class="row">
    <section id="footer">
    </section>
  </div>
</div>
