html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    background: url(./assets/images/shironoheya.jpg) no-repeat center;
    background-size: cover;
}

.container {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 200px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
