@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    background: url(./assets/images/shironoheya.jpg) no-repeat center;
    background-size: cover;
}

.cadc-container {
    background-color: gray;
    margin-top: 155px;
}

section {
    width: 100%;
}

header { 
    left: 0;
    right: 0;
    text-align: center;
}
